<div class="alert" role="alert">
  <h3 class="alert-heading"></h3>
  <p class="alert-description mb-5"></p>
  <div class="car-location">
    <h3>Location</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="font-weight-bold">Lat</span> =
        <span class="font-italic" id="lat"></span>
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">Lng</span> =
        <span class="font-italic" id="lng"></span>
      </li>
    </ul>
  </div>
</div>
