footer {
  z-index: 999;
}
.alert-messages {
  padding-bottom: 30px;
}
.alert-container.show {
  display: block;
}

.alert-container {
  display: none;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.alert-loading:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner 0.6s linear infinite;
}

.alert-loading:after {
  content: "";
  background-color: #f4f4f487;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
